# Убираем node_modules, так как они будут устанавливаться в контейнере
node_modules

# Исключаем build директорию, так как она генерируется на этапе сборки
/dist

# Логи
*.log

# Локальные файлы и папки, которые не нужны в контейнере
/.idea
/.vscode

# Файлы среды и конфигурации, которые могут быть локальными
.env.local
.env.development.local
.env.test.local
.env.production.local

# Файлы, генерируемые системой
.DS_Store
Thumbs.db

# Папки для кэширования зависимостей и сборки
/.npm
/.cache
